@import "compass/reset";
@import "bourbon/bourbon";
@import "compass";
@import "compass/typography/text/ellipsis";

@import "utils/fontface";
@import "utils/utils";
@import "utils/media-queries";
@import "utils/grids";

@import "chat/default";
@import "chat/icons";
@import "chat/buttons";
@import "neat/neat";


$border-color: #dddee0;

html, body
{
	height: 100%;
	width: 100%;
	font-family: arial;
	font-size: 12px;
	color: #6a7d90;
	overflow: hidden;
}

body
{
	
}

a, a *
{
	cursor: pointer !important;
}
img
{
	display: block;
}

.ui-app-container
{
	width: 100%;
	background: transparent;
	max-width: 880px;
	position: relative;
	height: 300px;
	top: 50%;
	margin: -150px auto 0px auto;


	h1
	{
		//background-image: image-url('ui/ui-app-sprite.png');
		background-position: -13px -75px;
	    background-repeat: no-repeat;
	    float: left;
	    height: 148px;
	    margin: -50px 0 0 84px;
	    overflow: hidden;
	    position: relative;
	    text-indent: -1000px;
	    top: 50%;
	    width: 275px;
	    z-index: 3;
	}

	div.ui-app-bkg-login
    {
    	//background-image: image-url('ui/ui-app-bkg-login.png');
    	position: absolute;
    	left: 0px;
    	top: 50%;
    	width: 372px;
    	height: 1067px;
    	z-index: 2;
    	margin: -465px 0 0 -233px; 
    }

    div.ui-app-bkg-login-pattern
	{
		@extend .ui-app-bkg-login;
		//background-image: image-url('ui/ui-app-bkg-login-pattern.jpg') !important;
		background-position: right center;
		z-index: 1;
		width: 60px;
		left: -60px;
	}

	.ui-app-login-wrapper
	{
		@include opacity(0);
		@include translateY(30px);
		width: 400px;
		float: right;
		margin-top: 90px;

		.init &
		{
			@include transition(transform 800ms ease, opacity 800ms ease);
			@include opacity(1);
			@include translateY(0px);
		}

		h2
		{
			font-size: 48px;
			color: $base-color-blue-default;
			font-weight: lighter;
		}
		p
		{
			font-size: 11px;
		    font-weight: 300;
		    line-height: 18px;
		    width: 262px;
		    margin-top: 30px;
		    margin-bottom: 20px;
		}


		& > span
		{
			background: none repeat scroll 0 0 #FF0000;
		    color: #FFFFFF;
		    float: left;
		    padding: 3px;
		    width: 286px;
		}


		form
		{
			position: relative;
			float: left;

			label
			{
				background-color: #BBB;
				width: 286px;
				float: left;
				position: relative;
				margin-bottom: 4px;
				border: 1px solid $border-color;
				border-width: 0px 1px 2px 1px;

				&:last-child
				{
					margin-bottom: 0px;
				}

				&:before
				{
					@include size(20px);
					background-color: transparent;
				    border-right: 1px solid #DDDEE0;
				    content: "";
				    font-size: 16px;
				    left: 6px;
				    line-height: 20px;
				    position: absolute;
				    text-indent: 4px;
				    top: 6px;
				    width: 23px;
				    color: #cad3dc;
				}

				&.ui-app-login:before
				{
					@extend .ligature-icons;
					content: '\E137';
				}

				&.ui-app-passwd:before
				{
					@extend .ligature-icons;
    				content: '\E07c';
				}


				input
				{
					@include box-shadow(rgba(255,255,255,0) 0px 0px 0px 6px);
					@include border-radius(0px);
					margin: 0;
					border: 0px none;
					padding: 0px 0px 0px 40px;
					height: 32px;
					font-size: 14px;
					width: 100%;
					font-weight: lighter;
					color: #333;

					-webkit-appearance: none;
					-moz-appearance:    none;
					appearance:         none;
				}

				&.ui-app-passwd
				{
					
				}
			}

			button
			{
				position: absolute;
				width: 100px;
				bottom: 5px;
				right: 0px;
				
				.ui-app-icon
				{
					display: none;
				}

				&:hover, &:active
				{
					color: $base-color-success !important;
					border-color: $base-color-success !important;
				}
			}
		}
	}
}
