/* FIXO */
$cols: 12;
$col_width: 980px;
$col_size: ($col_width / $cols); 
$small: 0px;
$gutter: 20px;
$col_size: ($col_size) - (((($cols - 1) * $gutter)) / $cols);

/* PORCENTAGEM */
$col_width_porcent: 100%;
$col_size_porcent: ($col_width_porcent / $cols); 
$small_porcent: 0%;
$gutter_porcent: 3%;
$col_size_porcent: ($col_size_porcent) - (((($cols - 1) * $gutter_porcent)) / $cols);

@mixin cols($num, $fluid: false) 
{
	@if $fluid
	{
		width: ($num * $col_size_porcent) + (($num - 1) * $gutter_porcent);
		//margin: 0 $gutter_porcent $gutter_porcent 0;
		margin: 0 $gutter_porcent 0 0;
	}
	@else
	{
		width: ($num * $col_size) + (($num - 1) * $gutter);
		//margin: 0 $gutter $gutter 0;
		margin: 0 $gutter 0 0;
	}
}

.ui-app-row
{
	width: $col_width;
}
.ui-app-row-fluid
{
	width: 100%;
}
.ui-app-row,
.ui-app-row-fluid
{
	display: inline-block;
	margin-bottom: 5px;

	&:last-child
	{
		@extend .no-margin;
	}
}


.ui-app-span-default
{
	@include box-sizing(border-box);
	/*@include transition(300ms, all, ease);*/
	
	display: inline;
	float: left;
}

.no-margin
{
	margin: 0 !important;
}
.no-margin-left
{
	margin-left: 0 !important;
}
.no-margin-right
{
	margin-right: 0 !important;
}
.no-margin-bottom
{
	margin-bottom: 0 !important;
}
.no-margin-top
{
	margin-top: 0 !important;
}


$row: '';
$row-fluid: '-fluid';

@each $fluid in $row, $row-fluid
{
 	.ui-app-row#{$fluid},
 	.ui-app-table-row#{$fluid}
	{
		@for $i from 1 through $cols 
		{
			.ui-app-span-#{$i},
			.ui-app-cell-#{$i}
			{
				@extend .ui-app-span-default;
				
				@if $fluid == ''
				{
					@include cols($i);
				}
				@else
				{
					@include cols($i, true);
				}

				> :last-child,
				& > :last-child 
				{
					margin-right: 0;
				}
			}
		}

		> :last-child,
		& > :last-child 
		{
			margin-right: 0;
		}
	}
}

/* ---------------------------------------------------------------------------------------------
	MEDIAQUERIES
 ---------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px)
{
   
}
@media screen and (max-width: 1024px)
{
   
}
@media screen and (max-width: 768px)
{
   
}
@media screen and (max-width: 480px)
{
   	.ui-app-row-fluid
	{
		@for $i from 1 through $cols 
		{
			.ui-app-span-#{$i}
			{
				//width: 100%;
			}
		}
	}
}
@media screen and (max-width: 320px)
{
   
}




$size: 10;
$max: 1000;
$length: $max / $size;
@for $i from 1 through $length
{
	.col-size-#{$i * $size}
	{ 
		min-width: #{$i * $size}px;
		max-width: #{$i * $size}px;
	}
}


@include max-screen(320px)  
{
	.col-max-320
	{
		display: none;
	}
}
@include max-screen(480px)  
{
	.col-max-480
	{
		display: none;
	}
}
@include max-screen(768px)  
{
	.col-max-768
	{
		display: none;
	}
}
@include max-screen(1024px)  
{
	.col-max-1024
	{
		display: none;
	}

	body#cardapio .ui-app-cardapio-editor .ui-app-col-category
	{
		width: calc(100% - 320px);
	}
}
